{% extends 'materias/base.html' %}
{% block content %}
<div class="container">
  <h1>Lista de Materia <a href="{% url 'alumno_nuevo' %}" class="btn btn-success">Nuevo</a></h1>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Clase</th>
            <th scope="col">Periodos</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha Inicio</th>
            <th scope="col">Opciones</th>
          </tr>
        </thead>
        <tbody>
          {% for alumno in alumnos %}
          <tr class="table-active">
            <th>{{alumno.nombre}}</th>
            <th>{{alumno.telefono}}</th>
            <th>{{alumno.direccion}}</th>
            <th>{{alumno.correo}}</th>
            <th>{{alumno.fecha_nacimiento}}</th>
            <th>
              <a href="{% url 'alumno_detalle' pk=alumno.pk %}" class="bt btn-warning"><span class="glyphicon glyphicon-info-sign"></span>Detalle</a>
              <a href="{% url 'alumno_editar' pk=alumno.pk %}" class="bt btn-info"><span class="glyphicon glyphicon-pencil"></span>Editar</a>
              <a href="{% url 'alumno_eliminar' pk=alumno.pk %}" class="bt btn-danger"><span class="glyphicon glyphicon-trash"></span>Eliminar</a>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>

</div>
{% endblock %}
