{% extends 'materias/base.html' %}

{% block content %}
    <h1 class="text-success">Nombre:</h1>
    <h2 class="text-info">{{alumno.nombre}}</h2>
    <h1 class="text-success">Clase:</h1>
    <h2 class="text-info">{{alumno.telefono}}</h2>
    <h1 class="text-success">Periodos:</h1>
    <h2 class="text-info">{{alumno.direccion}}</h2>
    <h1 class="text-success">Hora:</h1>
    <h2 class="text-info">{{alumno.correo}}</h2>
    <h1 class="text-success">Fecha Inicio:</h1>
    <h2 class="text-info">{{alumno.fecha_nacimiento}}</h2>
{% endblock %}
